*{margin:0; padding: 0; box-sizing: border-box; }
ul{list-style: none;}

  .header-wrapper {background-color: #181716;position: relative;height: 50px;margin: 0 0 18px 0;}
  .menuicon{height: 20px; width: 20px; position:absolute; top: 14px; left: 10px;}
  .menu{margin:0 auto;height: 60px;justify-content: space-evenly;color:white;overflow: hidden;align-items: center;display: none;}
  .menu li{display: none;}
  .forbes-logo {width: 104px;height: 28px;position: absolute;top:10px; left: 40px;color: white;}
  .forbes-logo svg {fill: #fff;}
  .search-icon {position: absolute;right: 20px;top:14px;color:white;width:20px;}
  

@media only screen and (min-width:748px){ 
    /* body{background: lightblue;} */
    .header{max-width: 1300px; margin: 0 auto; position: relative; padding: 0 60px 0 170px;}
    .menuicon{display: none;}
    .header-wrapper{height: 60px;margin: 0;}
    .menu{display: flex;}
    .forbes-logo{top: 20px;}
    .search-icon{top:24px}
    .menu li.show-1 {display: flex;}
}


@media only screen and (min-width:600px){ 
    .menu .show-2{display: flex;}
}

@media only screen and (min-width:800px){ 
    .menu .show-3{display: flex;}
}

@media only screen and (min-width:1000px){ 
    .menu .show-4{display: flex;}
}


.category-wrap{display:none;}

@media only screen and (min-width:748px){ 
 
/*.category-wrap{display: flex;justify-content: center; padding:15px 0 15px 0;border-bottom: 2px solid #dddddd;}*/
.category-wrap{display: flex;justify-content: center; border-bottom: 2px solid #dddddd;}
/*.category-wrap .category{width:235px; font-family: 'Work Sans', sans-serif;font-weight:500;font-size: 12px;color:#333333; letter-spacing: -0.6px; line-height: normal; padding: 10px 0 10px 110px;}*/
.category-wrap .category{width:235px; font-family: 'Work Sans', sans-serif;font-weight:500;font-size: 12px;color:#333333; letter-spacing: -0.6px; line-height: normal; padding: 30px 0 10px 40px;}
.category-wrap .category-list-wrap{ width:calc(100%-235px); display: flex; margin: 0 20px 0 0;}
.category-wrap .category-list-wrap li {display:flex;align-items: center;}
.category-wrap .category-list-wrap li .img-wrap{width:20px; height:20px; margin:0 0 0 25px; }
.category-wrap .category-list-wrap li .img-wrap img{width:100%;height:auto;}
/*.category-wrap .category-list-wrap li .text{font-family: "Merriweather",serif;font-weight:700; line-height: 2; font-size: 14px;  margin: 0 0 0 25px; padding-right:68px; color:#333333;border-right: 1px solid #dddddd;}*/
/*.category-wrap .category-list-wrap li .text{font-family: "Merriweather",serif;font-weight:700; line-height: 2; font-size: 13px;  margin: 0 0 0 25px; padding-right:68px; color:#333333;border-right: 1px solid #dddddd;}*/
/*.category-wrap .category-list-wrap li .text{font-family: "Merriweather",serif;font-weight:700; line-height: 2; font-size: 13px;  margin: 0 0 0 25px; color:#333333;border-right: 1px solid #dddddd;}*/
.category-wrap .category-list-wrap li .text{font-family: "Merriweather",serif;font-weight:700; line-height: 2; font-size: 12px;  margin: 0 0 0 25px; color:#333333;}
.ccsep {padding-left: 9px;padding-right: 9px;}

.category-wrap .category-list-wrap li{border-left: 1px solid #dddddd;}
/*.category-wrap .slider-container .tns-outer .tns-inner .category-list-wrap .slider-item .li{border-right: 66px;}*/

.category-wrap .category-list-wrap .category-1{display: none;}
.category-wrap .category-list-wrap .category-2{display: none;}
.category-wrap .category-list-wrap .category-3{display: none;}
.category-wrap .category-list-wrap .category-4{display: none;}
.category-wrap .category-list-wrap .category-5{display: none;}
}

@media only screen and (min-width:995px){ 
 
  .category-wrap .category-list-wrap .category-3{display: flex;}
  
  }
  @media only screen and (min-width:1020px){
      .category-wrap .category-list-wrap .category-4{display: flex;}
  }
  
  @media only screen and (min-width:1240px){ 
  
  .category-wrap .category-list-wrap .category-5{display: flex;}
  }
  @media only screen and (min-width:705px){ 
    .category-wrap .category-list-wrap .category-1{display: flex;}
    .category-wrap .category-list-wrap .category-2{display: flex;}
    }


/* All Travel & Airlines Credit Cards Section Start*/
.credit-travel-container-wrapper {padding: 0 20px 0 20px;}
.credit-travel-container {position: relative;padding-bottom:15px;margin: 0 auto;}
.ad-disclosure{position: relative;padding: 25px 0 0 0;}  
.credit-cards-travel {border-bottom: solid 1px #e2e2e2;display: flex;font-family: "Work Sans", sans-serif;font-size: 24px;font-style: normal;line-height: normal;letter-spacing: -1px;color: #181716;}
.credit-span {font-weight: 300;font-family: "Work Sans", sans-serif;}
.travel-span {font-weight: 500;font-family: "Work Sans", sans-serif;}
.arrow-logo {padding-right: 16px;}
.travel-airline-credit-wrapper {display: flex;padding-top: 32px;margin: 0 auto;padding-bottom: 50px;}
.logo-heading {font-family: "Merriweather", serif;font-size: 20px;font-weight: bold;font-style: normal;line-height: 1.56;letter-spacing: normal;color: #181715;}
.aeroplane-img{display: none;}
.travel-airline-credit-details {padding-top: 15px;font-size: 15px;font-weight: normal;font-style: normal;line-height: 2;letter-spacing: normal;color: #8c8c8c;}
.summary{color: #5a71ff;padding: 21px 0 0 0;}
.flight-logo{padding: 22px 0 0 0;}

@media only screen and (min-width:748px){ 
    .credit-travel-container-wrapper{margin: 0 auto;}
    .credit-travel-container{max-width: 1170px;margin: 0 auto;padding: 38px 0 15px 0;align-items: center;border-bottom: solid 2px #5a71ff;position: relative;}
    .ad-disclosure{position: absolute;top: 0;right: 0;padding: 25px 0 0 0;}  
    .credit-cards-travel {font-family: "Work Sans", sans-serif;font-size: 24px;font-style: normal;line-height: normal;letter-spacing: -1px;color: #181716;}
    .credit-span {font-weight: 300;font-family: "Work Sans", sans-serif;}
    .travel-span {font-weight: 500;font-family: "Work Sans", sans-serif;}
    .arrow-logo {padding-right: 16px;}
    .travel-airline-credit-wrapper {display: flex;max-width: 1170px;padding-top: 15px;margin: 0 auto 30px ;justify-content: space-between;border-bottom: 1px solid #5a71ff;padding-bottom: 50px;}
    .logo-heading {display: flex;align-items: center;font-family: "Merriweather", serif;font-size: 32px;font-weight: bold;font-style: normal;line-height: 1.56;letter-spacing: normal;color: #181715;}
    .flight-logo {padding-right: 13px;}
    .travel-airline-credit {max-width: 760px;}
    .summary{display: none;}
    .travel-airline-credit-details {padding-top: 22px;font-size: 15px;font-weight: normal;font-style: normal;line-height: 2;letter-spacing: normal;color: #8c8c8c;}
    .aeroplane-img{display: block;}
  }

/* All Travel & Airlines Credit Cards Section End*/


/* Feature section start */

    .feature{position: relative;padding: 0 20px 0 20px;}
    .starmark{position: absolute;top: 0;right: 20px;}
    .feature-title {display: none;color: #5a71ff;padding: 20px 0 0 0;font-family: "Work Sans", sans-serif;font-size: 14px;font-weight: 500;font-stretch: normal;font-style: normal;line-height: normal;letter-spacing: normal;} 
    .feature-heading {padding: 14px 0 0 0;font-family: "Merriweather", serif;font-size: 24px;font-weight: bold;font-stretch: normal;font-style: normal;line-height: normal;letter-spacing: normal;color: #181715;border-bottom: solid 1px #dddddd;padding-bottom: 19px;} 
    .feature-details {position: relative;;padding: 20px 0 0 0;}
    .card-details {padding: 24px 0 0 0;position:relative;font-family: Georgia;font-size: 14px;font-weight: normal;font-stretch: normal;font-style: normal;line-height: 1.43;letter-spacing: normal;color: #8c8c8c;}
    .btn {width: 100%;margin: 0 0 6px;height: 40px;border-radius: 3px;border-style: none;}
    /* .card-btn */
    .card-details p{padding-bottom: 30px;}
    .card-details .card-detail-5{padding-bottom: 0px;}
    .apply-btn {background-color: #5a71ff;margin-top: 16px;}  
    .compare-btn {border: solid 1px #181715;color: #181715;}  
    .compare-btn span {font-family: "Work Sans", sans-serif;font-size: 14px;font-weight: 500;font-stretch: normal;font-style: normal;line-height: normal;letter-spacing: -0.5px;color: #181715;}  
    .secure-msg p {padding: 6px 0 9px 0;font-family: "Open Sans", sans-serif;font-size: 10px;font-weight: normal;font-stretch: normal;font-style: normal;line-height: normal;letter-spacing: normal;color: #737373}  
    #star-unmarked {padding-left: 3px;}
    .rating {padding-bottom: 34px;padding: 28px 0;  border-bottom: solid 1px #e2e2e2;}
    .rating span {padding-left: 14.3px;}  
    .more-info {padding: 14px 0 23px 0;  border-bottom: solid 1px #e2e2e2;font-size: 12px;font-weight: 500;font-stretch: normal;line-height: normal;letter-spacing: normal;font-family: "Work Sans", sans-serif;color: #5a71ff;}
    .intro-r-1{display: flex;justify-content: space-between;align-items: center;padding-top: 24px;position: relative; padding-bottom: 18px; border-bottom: solid 1px #e2e2e2;}
    .intro-r-1 .apr-logo{position: absolute;top: 23px;right: 0;display: none;}
    .intro-apr{padding-top: 24px;display: flex;justify-content: space-between;align-items: center;padding-bottom: 18px;position: relative;border-bottom: solid 1px #e2e2e2; }
    .intro-apr .apr-logo{position: absolute;top: 46px;right: 0;display: none;}
    /* .intro-apr .apr-title{padding: 48px 0 6px 0;} */
    .apr-title {font-family: "Work Sans", sans-serif;font-size: 12px;font-weight: 500;font-stretch: normal;font-style: normal;line-height: normal;letter-spacing: normal;color: #8c8c8c;}
    .apr-percent {font-size: 24px;font-family: "Work Sans", sans-serif;font-weight: 600;font-stretch: normal;font-style: normal;line-height: normal;letter-spacing: normal;color: #181715;}
    .regular-apr {display: flex;justify-content: space-between;}
    .show-more-section {margin: 0 auto;max-width: 1170px;padding: 21px 513px 21px 514px;background-color: #f4f4f4;}
    .show-more-text {font-family: "Work Sans", sans-serif;font-size: 15px;font-weight: 500;font-stretch: normal;font-style: normal;line-height: normal;letter-spacing: -0.54px;color: #181715;}
    .card-detail-3{display: none;}
    .card-detail-4{display: none;}
    .card-detail-5{display: none;}
    .travel-airplane{padding: 35px 0 28px 0; display: flex;align-items: center;font-family: Work Sans;font-size: 12px;font-weight: 500;font-stretch: normal;font-style: normal;line-height: normal;letter-spacing: normal;color: #333333;}
    .travel-airplane .r-1{padding-right: 16px;}
    .card-img img{width: 100%;height: auto;}
    .left-section{display: none;}
    
@media only screen and (min-width:748px){
    .feature {position: relative;margin: 0 auto  ;padding: 30px 0 0 0;max-width: 1170px;padding: 0 17px 18px;border-radius: 2px;box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.08);}
    .starmark{position: absolute;top: 0;right: 0;}
    .feature-title {display: block;color: #5a71ff;padding: 20px 0 0 0;font-family: "Work Sans", sans-serif;font-size: 14px;font-weight: 500;font-stretch: normal;font-style: normal;line-height: normal;letter-spacing: normal;}  
    .feature-heading {padding: 14px 0 0 0;font-family: "Merriweather", serif;font-size: 24px;font-weight: bold;font-stretch: normal;font-style: normal;line-height: normal;letter-spacing: normal;color: #181715;border-bottom: solid 1px #dddddd;padding-bottom: 19px;}  
    .feature-details {display: flex;justify-content: space-between;padding: 20px 0 0 0;}  
    .feature-start {width: 29.5%;}  
    .feature-middle {width: 40%;} 
    .card-details {padding: 34px 0 0 0;font-family: Georgia;font-size: 14px;font-weight: normal;font-stretch: normal;font-style: normal;line-height: 1.43;letter-spacing: normal;color: #8c8c8c;} 
    .btn {margin: 0 0 6px;height: 40px;border-radius: 3px;border-style: none;}
    .apply-btn {background-color: #5a71ff;margin-top: 16px;} 
    .compare-btn {border: solid 1px #181715;color: #181715;}  
    .compare-btn span {font-family: "Work Sans", sans-serif;font-size: 14px;font-weight: 500;font-stretch: normal;font-style: normal;line-height: normal;letter-spacing: -0.5px;color: #181715;}  
    .secure-msg p {padding: 6px 0 9px 0;font-family: "Open Sans", sans-serif;font-size: 10px;font-weight: normal;font-stretch: normal;font-style: normal;line-height: normal;letter-spacing: normal;color: #737373} 
    #star-unmarked {padding-left: 3px;}
    .rating {position: absolute;top:20px;padding-bottom: 34px;padding: 0 0;border-bottom:none;}
    .rating span {padding-left: 14.3px;} 
    .more-info {border-bottom: none;padding: 14px 0 0 0;font-size: 12px;font-weight: 500;font-stretch: normal;line-height: normal;letter-spacing: normal;font-family: "Work Sans", sans-serif;color: #5a71ff;} 
    .feature-last {width:18%;border-left: 1px solid #ddd;padding: 0 0 0 45px;} 
    .intro-r-1{display:block;border-bottom:none;padding-top: 4px;position: relative;padding-bottom: 18px} 
    .intro-r-1 .apr-logo{display: flex;position: absolute;top: 23px;right: 0;} 
    .intro-apr{padding-top: 0;display:block;border-bottom:none;position: relative;padding-bottom: 0 }
    .intro-apr .apr-logo{display: flex;position: absolute;top: 46px;right: 0;}
    .intro-apr .apr-title{padding: 48px 0 6px 0;} 
    .apr-title {font-family: "Work Sans", sans-serif;font-size: 12px;font-weight: 500;font-stretch: normal;font-style: normal;line-height: normal;letter-spacing: normal;color: #8c8c8c;} 
    .apr-percent {font-size: 24px;font-family: "Work Sans", sans-serif;font-weight: 600;font-stretch: normal;font-style: normal;line-height: normal;letter-spacing: normal;color: #181715;} 
    .regular-apr {display: flex;justify-content: space-between;} 
    .show-more-section {margin: 0 auto;max-width: 1170px;padding: 21px 513px 21px 514px;background-color: #f4f4f4;} 
    .show-more-text {font-family: "Work Sans", sans-serif;font-size: 15px;font-weight: 500;font-stretch: normal;font-style: normal;line-height: normal;letter-spacing: -0.54px;color: #181715;}
    .card-detail-3{display: flex;}
    .card-detail-4{display: flex;}
    .card-detail-5{display: flex;}
    .travel-airplane{display: none;}
    .left-section{display: block;}
}

/* Feature section Ends */

/* Personal finance start */


.personal-finance-wrapper {display: none;padding: 0 20px 0 20px;}
.personal-finance {width:31.7%;padding: 41px 20px 20px 20px;border-bottom: solid 1px #e2e2e2;}
.personal-finance-detail {padding: 16px 0 0 0;font-family: "Merriweather", serif;font-size: 18px;font-weight: bold;font-stretch: normal;font-style: normal;line-height: 1.56;letter-spacing: normal;color: #333333;max-width: 340px}
.personal-finance-info {padding-top: 21px;font-family: Work Sans;font-size: 12px;font-weight: normal;font-stretch: normal;font-style: normal;line-height: normal;letter-spacing: -0.5px;color: #333333;}
.personal-finance-info span.minread {color: #999999;cursor: context-menu;}
.img-4{display: none;}
.img-5{display: none;}
.img-6{display: none;}
/* media query start */

@media only screen and (min-width:1118px){}

@media only screen and (min-width:748px){

.personal-finance-wrapper {display: flex;flex-wrap: wrap;justify-content: space-between;max-width: 1210px;margin: 0 auto;margin-top: 30px;}
.personal-finance {padding: 41px 0 20px 0;border-bottom: solid 1px #e2e2e2;cursor: pointer;}
.personal-finance-detail {padding: 16px 0 0 0;font-family: "Merriweather", serif;font-size: 16px;font-weight: bold;font-stretch: normal;font-style: normal;line-height: 1.56;letter-spacing: normal;color: #333333;max-width: 340px}
.personal-finance-info {padding-top: 21px;font-family: Work Sans;font-size: 12px;font-weight: normal;font-stretch: normal;font-style: normal;line-height: normal;letter-spacing: -0.5px;color: #333333;}
.personal-finance-info span.minread {color: #999999;cursor: context-menu;}
.img-4{display: block;}
.img-5{display: block;}
.img-6{display: block;}

}


/* Personal finance end */


/* Picks Editor start*/


.picks-heading {max-width: 1170px;margin: 45px auto 0;padding: 14px 20px 19px 20px;font-family: "Work Sans", sans-serif;font-size: 24px;font-weight: normal;font-stretch: normal;font-style: normal;line-height: normal;letter-spacing: -1px;color: #5a71ff;border-top: 4px solid #5a71ff;border-bottom: 1px solid #5a71ff}
.picks-heading span {font-weight: lighter}
.picks-info {display: block;max-width: 1170px;margin: 0 auto;border-bottom: 1px solid #e2e2e2;padding: 40px 0 0px 0}
/* .picks-col-1 {padding:0 20px 0 20px;} */
.picks-col-1-row-2 {margin: 0 auto;padding: 12px 0 0 0;font-family: "Merriweather", serif;font-size: 18px;font-weight: bold;font-stretch: normal;font-style: normal;line-height: 1.35;letter-spacing: normal;color: #333333}
.picks-col-1-row-3 {margin: 0 auto;padding: 9px 0 20px 0;font-family: "Merriweather", serif;font-size: 14px;font-weight: normal;font-style: normal;line-height: 2;letter-spacing: normal;color: #8c8c8c}
.picks-col-1-row-4-wrapper {display: none;padding-top: 20px}
.common-picks-flex {display: flex}
.picks-inner-info {padding: 0 54px 44.8px 15px;font-family: "Merriweather", serif;font-size: 16px;font-weight: bold;font-stretch: normal;font-style: normal;line-height: 1.61;letter-spacing: normal;color: #333333}
/* .picks-col-2 {padding: 0 20px 0px 20px;} */
.picks-col-2-title {font-family: Work Sans;font-size: 11px;font-stretch: normal;font-style: normal;line-height: normal;letter-spacing: normal;color: #8c8c8c}
.picks-col-2-heading {margin: 9.1px 0 11px;font-family: Merriweather;font-size: 16px;font-weight: bold;font-stretch: normal;font-style: normal;line-height: 1.61;letter-spacing: normal;color: #333333}
.picks-col-2-info {font-family: Merriweather;font-size: 14px;font-weight: normal;font-style: normal;line-height: 1.97;letter-spacing: normal;color: #8c8c8c}
.picks-col-2-1 {margin-bottom: 80.4px}
.picks-col-2-2{display: none;}
.picks-col-1-row-1 img{width: 100%;height: auto;}
.picks-col-2-img img{width: 100%;height: auto;}
.personal-finance-img img{width: 100%;height: auto;}
.editor-picks{margin: 0 auto;padding: 0 20px 0 20px;}

/* Media Query */
@media only screen and (min-width:748px){
    .picks-inner-img{width: 50%;}
    .picks-inner-img img{width: 100%;height: auto;}
    .picks-heading {max-width: 1170px;margin: 45px auto 0;padding: 14px 0 19px 0;font-family: "Work Sans", sans-serif;font-size: 24px;font-weight: normal;font-stretch: normal;font-style: normal;line-height: normal;letter-spacing: -1px;color: #5a71ff;border-top: 4px solid #5a71ff;border-bottom: 1px solid #5a71ff;margin-bottom:2%}
    .picks-heading span {font-weight: lighter}
    .picks-info {display: flex;max-width: 1170px;margin: 0 auto;border-bottom: 1px solid #e2e2e2;padding: 40px 0 30px 0;}
    .picks-col-1 {width: 74%;padding:0 30px 0 0;border-right: 1px solid #e2e2e2}
    .picks-col-1-row-2 {width: 81%;margin: 0 auto;padding: 12px 0 9px 0;font-family: "Merriweather", serif;font-size: 26px;font-weight: bold;font-stretch: normal;font-style: normal;line-height: 1.35;letter-spacing: normal;text-align: center;color: #333333;text-decoration: underline}
    .picks-col-1-row-3 {width: 81%;margin: 0 auto;padding: 9px 0 20px 0;font-family: "Merriweather", serif;font-size: 15px;font-weight: normal;font-style: normal;line-height: 2;letter-spacing: normal;text-align: center;color: #8c8c8c}
    .picks-col-1-row-4-wrapper {display: flex;padding-top: 20px}
    .common-picks-flex {display: flex}
    .picks-inner-info {padding: 0 54px 44.8px 15px;font-family: "Merriweather", serif;font-size: 16px;font-weight: bold;font-stretch: normal;font-style: normal;line-height: 1.61;letter-spacing: normal;color: #333333}
    .picks-col-2 {padding: 0 0 15.6px 30px;width: 38%;}
    .picks-col-2-title {font-family: Work Sans;font-size: 11px;font-stretch: normal;font-style: normal;line-height: normal;letter-spacing: normal;color: #8c8c8c}
    .picks-col-2-heading {margin: 9.1px 0 11px;font-family: Merriweather;font-size: 16px;font-weight: bold;font-stretch: normal;font-style: normal;line-height: 1.61;letter-spacing: normal;color: #333333}
    .picks-col-2-info {font-family: Merriweather;font-size: 14px;font-weight: normal;font-style: normal;line-height: 1.97;letter-spacing: normal;color: #8c8c8c}
    .picks-col-2-1 {margin-bottom: 80.4px}  
    .picks-col-2-2{display: block;}
    .picks-col-1-row-1 img{width: 100%;height: auto;padding:0 0 0 0;}
    .editor-picks{margin: 0 auto;max-width: 1210px;}
}


/* Picks Editor end*/

/* All credits css start */

.all-credit{max-width: 1210px;margin: 0 auto;padding: 0 20px 0 20px;}
.all-credit-heading{display: flex;justify-content: space-between;border-bottom: 1px solid #5a71ff;padding: 56px 0 15px 0;font-family: Work Sans;font-size: 24px;font-weight: bold;font-stretch: normal;font-style: normal;line-height: normal;letter-spacing: -1.2px;color: #5a71ff;}
.left-section{width:169px;cursor: context-menu;}
.filter-cards{border-bottom: 1px solid #e2e2e2;padding:27px 0 22px 0;font-family:  "Merriweather";font-size: 16px;font-weight: bold;font-stretch: normal;font-style: normal;line-height: normal;letter-spacing: normal;color: #333333;}
.heading{display: flex;justify-content: space-between;padding: 38px 0 30px 0;font-family: Work Sans;font-size: 14px;font-weight: 500;font-stretch: normal;font-style: normal;line-height: normal;letter-spacing: normal;color: #333333;}
.list{display: flex;justify-content: space-between;font-family: Work Sans;font-size: 14px;font-weight: 500;font-stretch: normal;font-style: normal;line-height: normal;letter-spacing: normal;color: #333333;}
.sub-category{font-family: Work Sans;font-size: 14px;font-weight: normal;font-stretch: normal;font-style: normal;line-height: normal;letter-spacing: normal;color: #8c8c8c; }
.categories .last{color:#5a71ff;}
.credit-score{color: #8c8c8c;}
.financial-instition{color: #8c8c8c;}
.right-logo{font-size: 14px;  font-family: Work Sans;}
.sort-cards{border-bottom: 1px solid #e2e2e2;padding:34px 0 31px 0;}
.sub-category{display: flex;padding: 15px 0 15px 0;}
.sub-category div{padding-left: 14px;}
.sub-category input{border-radius: 2px;border: solid 1px #e2e2e2;}
.common-padding{padding: 31px 0 31px 0;}
/* .right-section{width: calc(90%-169px);} */
.all-credit-filter{display: flex;}


/* right section starts*/
    /* ..feature-final{padding: 0 20px 0 20px;} */
    .hide-feature{display: none;}
    /* .right-section {padding:0 0 0 20px;} */
    .feature-final .card-details p{padding-bottom: 30px;}
    .feature-final .card-details .card-detail-5{padding-bottom: 0px;}
    .feature-final .apply-btn {background-color: #5a71ff;margin-top: 16px;}  
    .feature-final .compare-btn {border: solid 1px #181715;color: #181715;}  
    .feature-final .compare-btn span {font-family: "Work Sans", sans-serif;font-size: 14px;font-weight: 500;font-stretch: normal;font-style: normal;line-height: normal;letter-spacing: -0.5px;color: #181715;}  
    .feature-final .secure-msg p {padding: 6px 0 9px 0;font-family: "Open Sans", sans-serif;font-size: 10px;font-weight: normal;font-stretch: normal;font-style: normal;line-height: normal;letter-spacing: normal;color: #737373}  
    .feature-final #star-unmarked {padding-left: 3px;}
    .feature-final .rating {padding-bottom: 34px;padding: 28px 0;  border-bottom: solid 1px #e2e2e2;}
    .feature-final .rating span {padding-left: 14.3px;}  
    .feature-final .more-info {padding: 14px 0 23px 0;  border-bottom: solid 1px #e2e2e2;font-size: 12px;font-weight: 500;font-stretch: normal;line-height: normal;letter-spacing: normal;font-family: "Work Sans", sans-serif;color: #5a71ff;}
    .feature-final .intro-r-1{display: flex;justify-content: space-between;align-items: center;padding-top: 24px;position: relative; padding-bottom: 18px; border-bottom: solid 1px #e2e2e2;}
    .feature-final .intro-r-1 .apr-logo{position: absolute;top: 23px;right: 0;display: none;}
    .feature-final .intro-apr{padding-top: 24px;display: flex;justify-content: space-between;align-items: center;padding-bottom: 18px;position: relative;border-bottom: solid 1px #e2e2e2; }
    .feature-final .intro-apr .apr-logo{position: absolute;top: 46px;right: 0;display: none;}
    .feature-final .apr-title {font-family: "Work Sans", sans-serif;font-size: 12px;font-weight: 500;font-stretch: normal;font-style: normal;line-height: normal;letter-spacing: normal;color: #8c8c8c;}
    .feature-final .apr-percent {font-size: 24px;font-family: "Work Sans", sans-serif;font-weight: 600;font-stretch: normal;font-style: normal;line-height: normal;letter-spacing: normal;color: #181715;}
    .feature-final .regular-apr {display: flex;justify-content: space-between;}
    .feature-final .show-more-section {margin: 0 auto;max-width: 1170px;padding: 21px 513px 21px 514px;background-color: #f4f4f4;}
    .feature-final .show-more-text {font-family: "Work Sans", sans-serif;font-size: 15px;font-weight: 500;font-stretch: normal;font-style: normal;line-height: normal;letter-spacing: -0.54px;color: #181715;}
    .feature-final .card-detail-3{display: none;}
    .feature-final .card-detail-4{display: none;}
    .feature-final .card-detail-5{display: none;}
    .feature-final .travel-airplane{padding: 35px 0 28px 0; display: flex;align-items: center;font-family: Work Sans;font-size: 12px;font-weight: 500;font-stretch: normal;font-style: normal;line-height: normal;letter-spacing: normal;color: #333333;}
    .feature-final .travel-airplane .r-1{padding-right: 16px;}
    .feature-final .card-img img{width: 100%;height: auto;} 
    .filter-logo{display: block;}
    .credit-menu{display: flex;padding: 33px 22px 0 22px;  font-family: WorkSans;font-size: 12px;font-weight: 500;font-stretch: normal;font-style: normal;line-height: normal;letter-spacing: normal;color: #333333;}
    .credit-menu-list{padding: 0 29px 0 0;}
    .feature-final .starmark{display: none;}

    /* @media only screen and (max-width:1010px){
      
      .feature-final .feature-details{
        flex-wrap: wrap;
      }
      .feature-final .feature-start{
        width: 48%;
      } 
    
    } */

   

@media only screen and (min-width:748px){
    .credit-menu{display: none;}
    .filter-logo{display: none;}
    .hide-feature{display: block;}
    .right-section {padding-left: 30px;width: calc(100%-169px);}
    .feature-final {position: relative;margin: 0 auto  ;max-width: 1170px;padding: 0 17px 18px;border-radius: 2px;box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.08);}
    .feature-final .starmark{display: block;position: absolute;top: 0;right: 0;}
    .feature-final .feature-title {color: #5a71ff;padding: 20px 0 0 0;font-family: "Work Sans", sans-serif;font-size: 14px;font-weight: 500;font-stretch: normal;font-style: normal;line-height: normal;letter-spacing: normal;}  
    .feature-final .feature-heading {padding: 14px 0 0 0;font-family: "Merriweather", serif;font-size: 24px;font-weight: bold;font-stretch: normal;font-style: normal;line-height: normal;letter-spacing: normal;color: #181715;border-bottom: solid 1px #dddddd;padding-bottom: 19px;}  
    .feature-final .feature-details {display: flex;justify-content: space-between;padding: 20px 0 0 0;}  
    .feature-final .feature-start {width: 29.5%;}  
    .feature-final .feature-middle {width: 40%;} 
    .feature-final .card-details {padding: 34px 0 0 0;font-family: Georgia;font-size: 14px;font-weight: normal;font-stretch: normal;font-style: normal;line-height: 1.43;letter-spacing: normal;color: #8c8c8c;} 
    .feature-final .btn {margin: 0 0 6px;height: 40px;border-radius: 3px;border-style: none;}
    .feature-final .apply-btn {background-color: #5a71ff;margin-top: 16px;} 
    .feature-final .compare-btn {border: solid 1px #181715;color: #181715;}  
    .feature-final .compare-btn span {font-family: "Work Sans", sans-serif;font-size: 14px;font-weight: 500;font-stretch: normal;font-style: normal;line-height: normal;letter-spacing: -0.5px;color: #181715;}  
    .feature-final .secure-msg p {padding: 6px 0 9px 0;font-family: "Open Sans", sans-serif;font-size: 10px;font-weight: normal;font-stretch: normal;font-style: normal;line-height: normal;letter-spacing: normal;color: #737373} 
    .feature-final #star-unmarked {padding-left: 3px;}
    .feature-final .rating {position: absolute;top:20px;padding-bottom: 34px;padding: 0 0;border-bottom:none;}
    .feature-final .rating span {padding-left: 14.3px;} 
    .feature-final .more-info {border-bottom: none;padding: 14px 0 0 0;font-size: 12px;font-weight: 500;font-stretch: normal;line-height: normal;letter-spacing: normal;font-family: "Work Sans", sans-serif;color: #5a71ff;} 
    .feature-final .feature-last {width:16%;} 
    .feature-final .intro-r-1{display:block;border-bottom:none;padding-top: 4px;position: relative;padding-bottom: 18px} 
    .feature-final .intro-r-1 .apr-logo{display: flex;position: absolute;top: 23px;right: 0;} 
    .feature-final .intro-apr{padding-top: 0;display:block;border-bottom:none;position: relative;padding-bottom: 0 }
    .feature-final .intro-apr .apr-logo{display: flex;position: absolute;top: 46px;right: 0;}
    .feature-final .intro-apr .apr-title{padding: 48px 0 6px 0;} 
    .feature-final .apr-title {font-family: "Work Sans", sans-serif;font-size: 12px;font-weight: 500;font-stretch: normal;font-style: normal;line-height: normal;letter-spacing: normal;color: #8c8c8c;} 
    .feature-final .apr-percent {font-size: 24px;font-family: "Work Sans", sans-serif;font-weight: 600;font-stretch: normal;font-style: normal;line-height: normal;letter-spacing: normal;color: #181715;} 
    .feature-final .regular-apr {display: flex;justify-content: space-between;} 
    .feature-final .show-more-section {margin: 0 auto;max-width: 1170px;padding: 21px 513px 21px 514px;background-color: #f4f4f4;} 
    .feature-final .show-more-text {font-family: "Work Sans", sans-serif;font-size: 15px;font-weight: 500;font-stretch: normal;font-style: normal;line-height: normal;letter-spacing: -0.54px;color: #181715;}
    .feature-final .card-detail-3{display: flex;}
    .feature-final .card-detail-4{display: flex;}
    .feature-final .card-detail-5{display: flex;}
    .feature-final .travel-airplane{display: none;}
    }

/* 
    .feature {max-width:374px;position: relative;margin: 0 auto 57px ;padding: 0 17px 18px;border-radius: 2px;box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.04);}
    .starmark{position: absolute;top: 0;right: 0;}
    .feature-title {color: #5a71ff;padding: 20px 0 0 0;font-family: "Work Sans", sans-serif;font-size: 14px;font-weight: 500;font-stretch: normal;font-style: normal;line-height: normal;letter-spacing: normal;} 
    .feature-heading {padding: 14px 0 0 0;font-family: "Merriweather", serif;font-size: 24px;font-weight: bold;font-stretch: normal;font-style: normal;line-height: normal;letter-spacing: normal;color: #181715;border-bottom: solid 1px #dddddd;padding-bottom: 19px;} 
    .feature-details {position: relative;;padding: 20px 0 0 0;}
    .card-details {padding: 24px 0 0 0;position:relative;font-family: Georgia;font-size: 14px;font-weight: normal;font-stretch: normal;font-style: normal;line-height: 1.43;letter-spacing: normal;color: #8c8c8c;}
    .btn {width: 100%;margin: 0 0 6px;height: 40px;border-radius: 3px;border-style: none;}
    /* .card-btn */
    

/* right section ends*/

/* All credits css ends */






/* Last section starts*/

.credit-card{display: none;}


@media only screen and (min-width:748px){ 
  .credit-card {padding: 0 20px 0 20px;display: block;max-width: 1170px;margin: 0 auto;padding-top: 72px;}
  
  .credit-card-text {padding-bottom: 18px;font-family: "Work Sans", sans-serif;font-size: 24px;font-weight: bold;font-stretch: normal;font-style: normal;line-height: normal;letter-spacing: -1.2px;color: #5a71ff;padding-bottom: 18px;}
  
  .credit-card-details {display: flex;justify-content: space-between;}
  
  .credit-card-text-wrapper {border-bottom: 1px solid #5a71ff;}
  
  .credit-card-info{width: 26%;}
  
  .credit-card-info-1 {padding-top: 55px;font-family: "Merriweather", serif;font-size: 24px;font-weight: bold;font-style: normal;line-height: 1.46;letter-spacing: normal;color: #333333;}
  
  .credit-card-info-2 {padding: 20px 0 0 0;font-family: "Merriweather", serif;font-size: 15px;font-weight: normal;font-style: normal;line-height: 2;letter-spacing: normal;color: #8c8c8c;}
  
  .credit-card-dropdown-1 {padding: 18px 24.5px 17px 21px;border-radius: 3px;border: solid 1px #0e0e0e;background-color: var(--white);}
  
  .credit-card-dropdown-2 {padding: 18px 22.5px 17px 25px;margin: 30px 0 0 0;border-radius: 3px;border: solid 1px #dddddd;background-color: #fff;}
  
  .option-common{width: 100%;font-family: "Work Sans", sans-serif;font-size: 15px;font-weight: normal;font-stretch: normal;font-style: normal;line-height: normal;letter-spacing: -1px;border: none;}
  
  .option-1 {color: #333333;}
  
  .option-2 {color: #8c8c8c;}
  
  .credit-card-option{width: 31%; margin:55px 76px 0 71px;}
  
  .know-more {width: 150px;margin: 30px 0 0 0;padding: 16px 26px 16px 20px;border-radius: 3px;background-color: #5a71ff;font-family: Work Sans;color: white;text-align: center;}
  
  .credit-card-img {padding-top: 44.8px;width: 32%;}
  
  .credit-card-img img {
    width: 100%;
    height: auto;
    border-radius: 13.8px;
    box-shadow: -6px 24px 35px 0 rgba(0, 0, 0, 0.3);
    border-style: solid;
    border-width: 1px;
    border-image-source: radial-gradient(
      circle at 89% 8%,
      rgba(255, 255, 255, 0.5),
      rgba(255, 255, 255, 0) 81%
    );
    border-image-slice: 1;
    background-image: linear-gradient(to bottom, #7d858d, #414447),
      radial-gradient(
        circle at 89% 8%,
        rgba(255, 255, 255, 0.5),
        rgba(255, 255, 255, 0) 81%
      );
    background-origin: border-box;
    background-clip: content-box, border-box;
  }

}

@media only screen and (max-width:432px){
  .credit-menu .item-4{display: none;}
}

@media only screen and (max-width:371px){
  .credit-menu .item-3{display: none;}
}

@media only screen and (max-width:371px){
  .credit-menu .item-2{display: none;}
}
/* Last section ends*/





/* footer starts */
.footer-wrapper {
  font-family: "Merriweather", serif;
  margin-top: 40px;
  background-color: #DEDEDE;
}

.footer-logo{
  max-width: 1330px;
  margin: 0 auto;
  padding: 72px 20px 16px 20px;
  text-align: center;
}


.social-media-logo{
  display: flex;
  justify-content: center;
}
.social-media-logo div{
  margin-right: 16px;
}

.copyright {
  font-size: 12px;
  color: #333;
  padding:20px 0 0 0;
  letter-spacing: 0.12px;
  line-height: 28px;
}

.social-media-logo{
  padding:20px 0 16px 0;
  border-bottom: 1px solid black;
}
a{text-decoration: none;color: #333;}

.footer-links{
  display: block;
  text-align: center;
  font : 12px "Work Sans",sans-serif;
  line-height: 28px;
  letter-spacing: 0.12px;
  padding:24px 0 72px;
}

.footer-link-wrappers{
  max-width: 1194px;
  margin: 0 auto;
}
.footer-links li{
  padding-right: 10px;
}



@media only screen and (min-width:485px){
 .footer-links{
    display: flex;
    justify-content: center;
    flex-wrap:wrap;
 }
}

/* footer ends */


/* tooltipicon starts */

.tooltipitem {
  cursor: pointer;
}

.icon-info {
  position: relative;
  top: 1px;
}

.icon-info {
  background: url(data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTAiIGhlaWdodD0iMTAiIGZpbGw9Im5vbmUiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGcgb3BhY2l0eT0iLjYiIGZpbGw9IiMzMzMiPjxwYXRoIGQ9Ik01IDBDMi4yNDMgMCAwIDIuMjQzIDAgNXMyLjI0MyA1IDUgNSA1LTIuMjQzIDUtNS0yLjI0My01LTUtNXptMCA5QzIuNzk1IDkgMSA3LjIwNSAxIDVzMS43OTUtNCA0LTQgNCAxLjc5NSA0IDQtMS43OTUgNC00IDR6Ii8+PHBhdGggZD0iTTQuNSA0LjVoMXYzaC0xdi0zem0wLTJoMXYxaC0xdi0xeiIvPjwvZz48L3N2Zz4=) no-repeat;
  opacity: .6;
}

.icon-tooltip {
  width: 12px;
  height: 12px;
  background-size: cover!important;
  margin-left: 5px;
  display: inline-block;
  cursor: pointer;
}

/* tooltipicon ends */

/* category slider starts */

.slider-container {    
  /*max-width: 1025px;*/
  max-width: 945px;
  padding: 0rem 3rem;
  overflow: hidden;
  position:relative;
  padding-left: 0px;
}

.my-slider {
  position: relative;    
}

.slider-item {
  padding: 1.5rem .75rem;
  position: relative;
}

.controls {
  margin: 0;
  padding: 0;
  list-style: none;
  position: absolute;
  left: 0;    
  background: #fff;
  width: 100%;    
  top: 50%;
  transform: translatey(-50%);
  display: flex;
  align-items: center;    
  justify-content: space-between;
}

.card {
  text-align: center;    
  margin: 0 auto;
  max-width: 200px;
  background: white;
  padding-bottom: .75rem;
  font-family: sans-serif;
  overflow: hidden;
  position: relative;
}

.next[aria-disabled=true],
.prev[aria-disabled=true] {
   display: none;
}

.next[aria-disabled=false],
.prev[aria-disabled=false] {
   display: block;
}

.btnbg {
  background-color: Transparent;
  background-repeat:no-repeat;
  border: none;
  cursor:pointer;
  overflow: hidden;
  outline:none;
  width: 50px;
}

.next{
  padding:10px;
}

.btnpos{
  display: inline-block;
  width: 50px;
  vertical-align: top;
  padding-left: 93%;
  padding-top: 1%;
}

/* category slider ends */

.cnpanel {
  height: 0;
  overflow: hidden;
  transition: height 2s ease-out;
}

.parent-container {
  padding-left: 60px;
  padding-right: 60px;
}

.bytxt {
cursor: context-menu;
}


/* load more starts */

.hidden {display:none;}

.btndiv {padding-top: 50px;}

.loadbtn {
  display:block;
  margin: 0 auto;
  width: 160px;
  height: 40px;
  border: 2px solid #5a71ff;
  color: #fff;
  text-align: center;
  text-decoration: none;
  line-height: 36px;
  box-sizing: border-box;
  border-radius: 3px;
  background-color: #5a71ff;
  outline: none;
  cursor: pointer;
}

.active {
  font-size: 0;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  border-left-color: transparent;
  background-color: #fff;
  animation: rotate 1.4s ease 0.5s infinite;
  cursor: context-menu;
}

@keyframes rotate {
  0% { transform: rotate(360deg); }
}

/* load more ends */

/* left section accordion starts */

.filter-body   {
  padding: 0;
  max-height: 40em;
  overflow: hidden;
  transition: ease all;
  transition-duration: 4s;
}

.closed .filter-body {
  max-height: 0;
  transition: ease all;
  transition-duration: 4s;
}

.left-section {
  cursor: pointer;
}

/* left section accordion ends */


.btndb{
  border: 1px solid #999999;
  background-color: #cccccc;
  color: #666666;
}


.btndbcmpnw{
  background-color: transparent;
  color: #666666;
}

.creditcards-outer{
  box-shadow:0px -2px 16px rgba(0,0,0,0.12)
}
.creditcards-outer .creditcards-cont .cards-wrap{
  max-height:calc(100vh - 120px)
}
@media (min-width: 1280px){
.creditcards-outer .creditcards-cont .cards-wrap{
    overflow:inherit
}
}
.creditcards-outer .creditcards-cont .creditcards-data{
  border-radius:8px;
  padding:20px 16px
}
.creditcards-outer .creditcards-cont .creditcards-data svg{
  fill:#999999
}
.creditcards-outer .creditcards-cont .creditcards-data:not(:first-child){
  margin-left:0
}
.creditcards-outer .creditcards-cont .creditcards-data:not(:last-child){
  border-bottom:1px solid #ebebeb
}


@media screen and (min-width: 1280px){
.creditcards-outer{
    padding:24px 0
}
.creditcards-outer .creditcards-cont .creditcards-data{
    border-radius:8px;
    padding:0px 16px;
    border:1px solid #dddddd
}
.creditcards-outer .creditcards-cont .creditcards-data svg{
    position:absolute;
    top:-10px;
    right:-10px
}
.creditcards-outer .creditcards-cont .creditcards-data:not(:first-child){
    margin-left:11px
}

}

.compare-now{
  padding-left: 50px;
}